@model MotoRental.Borders.Models.Motorcycle?

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        @ViewBag.Title
    </h1>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <!-- Horizontal Form -->
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Editar @ViewBag.Title</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal">
            <div class="box-body">
                <div class="form-group">
                    <label for="PlateNumber" class="col-sm-2 control-label">Placa</label>
                    <div class="col-sm-4">
                        <input id="PlateNumber" type="text" class="form-control" name="PlateNumber" placeholder="AAA00A0" maxlength="7"
                               style="text-transform:uppercase" value="@Model?.PlateNumber">
                    </div>
                    <label for="Year" class="col-sm-2 control-label">Ano</label>
                    <div class="col-sm-4">
                        <input id="Year" type="number" class="form-control" name="Year" placeholder="2024" maxlength="4" value="@Model?.Year">
                    </div>
                </div>

                <div class="form-group">
                    <label for="Model" class="col-sm-2 control-label">Modelo</label>
                    <div class="col-sm-4">
                        <input id="Model" type="text" class="form-control" name="Model" placeholder="Honda CG 150 cc" maxlength="100" value="@Model?.Model">
                    </div>
                    <div class="col-sm-4">
                        <label for="checkActive" class="col-sm-2 control-label">Ativo</label>
                        <input id="checkActive" type="checkbox" class="custom-control-input" name="checkActive">
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <button type="submit" class="btn btn-default" formaction="/@ViewBag.ControllerName/Cancel"
                        formmethod="post">Voltar</button>
                <button type="submit" class="btn btn-info pull-right" formaction="/@ViewBag.ControllerName/UpdateMotorcycle"
                        formmethod="post">Editar</button>
            </div>
            <!-- /.box-footer -->
            <input type="hidden" id="Id" name="Id" value="@Model?.Id" />
            <input type="hidden" id="Active" name="Active">
        </form>
    </div>
    <!-- /.box -->
    <script>
        $(document).ready(function () {
            setCheckbox();
        });
        
        $("#checkActive").click(function () {
            setCheckbox("Active");
        });

        function setCheckbox(value) {
            var isChecked = $(`input:checkbox[name=check${value}]`).is(':checked');
            if (isChecked) {
                $(`#${value}`).val(true);
            } else {
                $(`#${value}`).val(false);
            }
        }
    </script>
</section>
