@* @inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor *@

@{
    bool deviceReadonly = false;
}

<ul class="sidebar-menu" data-widget="tree">
    <li class="header">HEADER</li>
    <!-- Optionally, you can add icons to the links -->
    <!-- <li class="active"><a href="#"><i class="fa fa-link"></i> <span>Link</span></a></li> -->
    <li><a href="/"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>

    @if (!deviceReadonly)
    {
        <li class="treeview">
            <a href="#"><i class="fa fa-users"></i> <span>Aluguéis</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="/Rental/Create">Cadastrar Aluguel</a></li>
                <li><a href="/Rental">Todos Aluguéis</a></li>
            </ul>
        </li>
    }

    <li class="treeview">
        <a href="#"><i class="fa fa-id-card"></i> <span>Motoristas</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            @if (!deviceReadonly)
            {
                <li><a href="/Motorcycle/Create">Cadastrar Motorista</a></li>
            }
            <li><a href="/Motorcycle">Todos Motoristas</a></li>
        </ul>
    </li>

    <li class="treeview">
        <a href="#"><i class="fas fa-motorcycle"></i> <span>Motos</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            @if (!deviceReadonly)
            {
                <li><a href="/Motorcycle/Create">Cadastrar Moto</a></li>
            }
            <li><a href="/Motorcycle">Todas Motos</a></li>
        </ul>
    </li>
    @if (!deviceReadonly)
    {
        <li class="treeview">
            <a href="#"><i class="fa fa-building"></i> <span>Produtos</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="/Product/Create">Cadastrar Produto</a></li>
                <li><a href="/Product">Todos Produtos</a></li>
            </ul>
        </li>
    }
    <li class="treeview">
        <a href="#"><i class="fa fa-map"></i> <span>Mapa</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="/Maps">Visualizar</a></li>
        </ul>
    </li>


    <li class="treeview">
        <a href="#"><i class="fa fa-file-alt"></i> <span>Relatórios</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="/Reports?report=route"><i class="fa fa-route"></i> Rotas</a></li>
            <li><a href="/Reports?report=events"><i class="fa fa-calendar"></i> Eventos</a></li>
            <li><a href="/Reports?report=summary"><i class="fa fa-file"></i> Resumo</a></li>
        </ul>
    </li>
</ul>