@using System
@using Microsoft.AspNetCore.Http
@* @inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor *@

@{
    bool deviceReadonly = false;
}

<ul class="sidebar-menu" data-widget="tree">
    <li class="header">HEADER</li>
    <!-- Optionally, you can add icons to the links -->
    <!-- <li class="active"><a href="#"><i class="fa fa-link"></i> <span>Link</span></a></li> -->
    <li><a href="/"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>

    @if (!deviceReadonly)
    {
        <li class="treeview">
            <a href="#"><i class="fa fa-users"></i> <span>Usu치rios</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="/Users/Create">Cadastrar Usu치rio</a></li>
                <li><a href="/Users">Todos Usu치rios</a></li>
            </ul>
        </li>
    }

    <li class="treeview">
        <a href="#"><i class="fa fa-id-card"></i> <span>Motoristas</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            @if (!deviceReadonly)
            {
                <li><a href="/Drivers/Create">Cadastrar Motorista</a></li>
            }
            <li><a href="/Drivers">Todos Motoristas</a></li>
        </ul>
    </li>

    <li class="treeview">
        <a href="#"><i class="fa fa-car"></i> <span>Dispositivos</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            @if (!deviceReadonly)
            {
                <li><a href="/Devices/Create">Cadastrar Dispositivos</a></li>
            }
            <li><a href="/Devices">Todos Dispositivos</a></li>
        </ul>
    </li>
    @if (!deviceReadonly)
    {
        <li class="treeview">
            <a href="#"><i class="fa fa-building"></i> <span>Clientes</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="/Groups/Create">Cadastrar Clientes</a></li>
                <li><a href="/Groups">Todos Clientes</a></li>
            </ul>
        </li>
    }
    <li class="treeview">
        <a href="#"><i class="fa fa-map"></i> <span>Mapa</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="/Maps">Visualizar</a></li>
        </ul>
    </li>


    <li class="treeview">
        <a href="#"><i class="fa fa-file-alt"></i> <span>Relat칩rios</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="/Reports?report=route"><i class="fa fa-route"></i> Rotas</a></li>
            <li><a href="/Reports?report=events"><i class="fa fa-calendar"></i> Eventos</a></li>
            <li><a href="/Reports?report=summary"><i class="fa fa-file"></i> Resumo</a></li>
        </ul>
    </li>
</ul>